.reg-btn-border{
    border-color: #289BDE;
    color:#289BDE;
}
.heading-text{
    color:#ffffff;
}
.getstarted-btn{
    background-color:#289BDE;
    color:#ffffff;
}
.price{
    color:#289BDE;
}
.bg-ready{
background-color:#289BDE;
}
.register-btn{
   margin-top: 10%;
    background-color:#ffffff;
    color:#289BDE;

}
.color-accr{
color:black;
}